#nav.interface
#overbar
  .container
    .span-21
      %h3
        Interfaces Details
.container
  #subheader.span-24.last
    &nbsp;
    - if @interfaces.empty?
      You have not uploaded any rules yet. Please select "Run New Report" to get started. 
    - else
      - ["internal","dmz","external","unknown"].each do |itype|
        .span-24.fake_table_header.last
          .span-1
            %img#toggle{:src => "/assets/toggle-expand.png", :name => "#{classify(itype)}_details"}
          .span-11
            &nbsp;
            %a#toggle{:name => "#{classify(itype)}_details"}
              = itype.upcase
          .span-6
            &nbsp;
            %a
          .span-6.last
            &nbsp;
            %a

        - @interfaces[itype].each do |l|
          .span-24.hidden.last(id="#{classify(itype)}_details")
            .span-3.subleft
              interface name
            .span-2.last
              = l[0]
            .span-3.subleft
              security level
            .span-2.last
              = l[1].security_level
            .span-3.subleft
              address
            .span-2.last
              = l[1].address
            .span-3.subleft
              netmask
            .span-2.last
              = l[1].netmask
